button {
  font-size: 0.95rem;
  padding: 0.25rem 0.75rem;
}

.rabobank-logo {
  width: 300px !important;
  display: inline-block;
}

.client-logo {
  height: 32px !important;
  width: 32px !important;
  display: inline-block;
}
